html,body,div,ul,li,a{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
	background: #333;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height: 50px;
	background: #fff;
}
.header .nav{
	width: 100%;
	height: auto;
	/*line-height: 50px;*/
	margin: 0 auto;
	position: relative;
	z-index: 111;
}
.header .nav li{
	float: left;
	width: 20%;
	height: auto;
	/*line-height: 50px;*/
	text-align: center;
}
.header .nav li a{
	color: #000;
}
.header .nav li .second-nav{
	width: 150px;
	display: none;
	position: relative;
}
.header .nav li .second-nav li{
	position: relative;
	width: 50%;
	height: auto;
	/*line-height: 40px;*/
	background: #128A28;
	border-top: 1px solid #097d1f;
}
